body {
    margin: 0;
    padding: 0;
}

.grids {
    display: grid;
    background-color: beige;
}

.abouts {
    display: grid;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}

.content {
    display: grid;
    text-align: center;
    font-size: 24px;
}

.peppers {
    padding-top: 30px;
    padding-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.size {
    font-size: 20px;
}

.food1 {
    font-size: 30px;
}

.food {
    font-size: 18px;
}