button {
    margin-left: 58px;
    margin-right: 58px;
    background-color: burlywood;
    border: none;
    height: 35px;
    width: 130px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.45s, color 0.45s;
    transition: box-shadow 0.35s;
}

button:hover {
    background-color: rgb(170, 74, 74);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

button:active {
    background-color: rgb(117, 66, 66);
    color: white;
}

.buttons {
    background-color: beige;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;
}